
@{
    Layout = null;
}

<div class="alert alert-info">
    <strong>Şehir:</strong> @Model.city <br />
    <strong>Sıcaklık:</strong> @Model.temp °C <br />
    <strong>Durum:</strong> @Model.weather[0].description
</div>
